body {
    background-color: rgb(34, 34, 34);
}

#page {
    margin: 30vh auto 0 auto;
}

#content {
    display: grid;

}

#title {
    grid-column-start: 0;
    grid-column-start: 1;
    margin: 0 auto;
}

#title pre {
    font-size: 30px;
    color: white;
}

#nav {
    grid-column-start: 1;
    grid-column-start: 2;
    margin: 0 auto;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a pre {
    width: 210px;
    font-size: 20px;
}

#nav a pre:hover span {
    display: none;
}

#btn-github-ascii pre:hover:before {
    content: "\a\00a0_________________\a/                 \\\a|   **github**    |\a \\_________________/";
}

#btn-linkedin-ascii pre:hover:before {
    content: "\a\00a0_________________\a/                 \\\a|  **linkedin**   |\a \\_________________/";
}

#btn-projects-ascii pre:hover:before {
    content: "\a\00a0_________________\a/                 \\\a|  **projects**   |\a \\_________________/";
}