/* Author: Quaid Sage */
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.no-highlight {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ======= */
/* ------- */
/* Header */
/* ------- */
/* ======= */

#header {
    display: flex;
    justify-content: top;
    z-index: 100;
    background-color: rgb(34, 34, 34);
}

#title {
    margin: 0 auto;
}

#title pre {
    font-size: 22px;
    color: white;
    margin: 0;
    z-index: 100;
}

/* ============= */
/* ------------- */
/* Page Content */
/* ------------- */
/* ============= */

.gradient {
    background: linear-gradient(130deg, #9c5ff8 40%, #fa4d88 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#content {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    position: relative;
    transition: 0.5s top;
}

/*                  */
/* Navigation Menu */
/*                  */
#nav-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s left;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: top;
}

#nav-background {
    z-index: -10;
    font-size: 14px;
    color: white;
    position: absolute;
}

#nav {
    z-index: 0;
    margin-top: 10px;
    position: absolute;
}

/* Navigation buttons */
#nav a {
    color: white;
    text-decoration: none;
}

#nav a pre {
    width: 100%;
    font-size: 24px;
}

#nav a pre:hover span {
    display: none;
}

#btn-projects-ascii pre:hover:before {
    content: "\00a0________________\a/                \\\a|  **projects**  |\a \\________________/";
}

#btn-aboutme-ascii pre:hover:before {
    content: "\00a0________________\a/                \\\a|  **about me**  |\a \\________________/";
}

#btn-github-ascii pre:hover:before {
    content: "\00a0________________\a/                \\\a|   **github**   |\a \\________________/";
}

#btn-linkedin-ascii pre:hover:before {
    content: "\00a0________________\a/                \\\a|  **linkedin**  |\a \\________________/";
}

.navbtn pre:hover:before {
    cursor: pointer;
}

.navbtn:active {
    color: rgb(220, 220, 220);
}

/*              */
/* Project Tab */
/*              */

#projects-container {
    position: relative;
    height: 600px;
    left: 100%;
    transition: 0.4s left;
}

/*               */
/* Project List */
/*               */

#projects-list-container {
    top: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s top;
    display: flex;
    justify-content: center;
}

/* Project list content */
#projects-list-title {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 45px;
    text-align: center;
    z-index: -5;
}

#projects-list-content {
    margin-top: 240px;
}

.projects-list-content-projects {
    transition: 0.05s;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.projects-list-content-projects:hover {
    margin-left: 20px;
    margin-right: 0;
}

.projects-list-content-projects-content {
    color: white;
    z-index: 100;
    position: absolute;
    margin: 40px;
    margin-top: 70px;
}

.projects-list-content-projects-content-img {
    width: 150px;
    height: 150px;
    border: 1px dashed white;
    z-index: 100;
    float: left;
}

.projects-list-content-projects-content-info {
    float: left;
    margin-left: 30px;
}

.projects-list-content-projects-content-info-title {
    font-size: 30px;
}

.projects-list-content-projects-content-info-desc {
    font-size: 16px;
}

.projects-list-content-projects-background {
    color: white;
    font-size: 24px;
    z-index: 10;
}

/* Project list return button */
#projects-list-btn-back {
    position: absolute;
    color: white;
    font-size: 16px;
    z-index: 10;
    margin-right: 650px;
    margin-top: 110px;
}

#projects-list-btn-back-ascii pre:hover span {
    display: none;
}

#projects-list-btn-back-ascii pre:hover:before {
    content: "\00a0____________\a/            \\\a|  **<---**  |\a \\____________/";
    cursor: pointer;
}

/* Project list background */
#projects-list-background {
    z-index: -10;
    position: absolute;
    color: white;
    font-size: 26px;
    text-align: center;
}

/*                  */
/* Project Showcase */
/*                  */

#project-showcase-container {
    top: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s top;
    display: flex;
    justify-content: center;
}

/* Project showcase content */
#project-showcase-content {
    z-index: 10;
    color: white;
    margin-top: 100px;
}

#project-showcase-content-title pre {
    font-size: 50px;
    text-align: center;
}

#project-showcase-content-desc pre {
    font-size: 20px;
}

/* Project showcase github button */
#project-showcase-content-github-btn {
    font-size: 18px;
    z-index: 20;
}

#project-showcase-content-github-btn-ascii pre:hover span {
    display: none;
}

#project-showcase-content-github-btn-ascii pre:hover:before {
    content: "\00a0_________________\a/                 \\\a| **github repo** |\a \\_________________/";
    cursor: pointer;
}

/* Project showcase return button */
#project-showcase-btn-back {
    position: absolute;
    color: white;
    font-size: 16px;
    z-index: 20;
    margin-right: 730px;
    margin-top: 50px;
}

#project-showcase-btn-back-ascii pre:hover span {
    display: none;
}

#project-showcase-btn-back-ascii pre:hover:before {
    content: "\00a0____________\a/            \\\a|  **<---**  |\a \\____________/";
    cursor: pointer;
}

/* Project showcase background */
#project-showcase-background {
    z-index: -10;
    position: absolute;
    color: white;
    font-size: 26px;
    text-align: center;
}

/*            */
/* Preloader */
/*            */

/* TODO: Fix for smaller screen sizes */
.preload {
    overflow: hidden;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    top: 50%;
    font-size: 30px;
    color: white;
}

/* ============== */
/* -------------- */
/* Media Styling */
/* -------------- */
/* ============== */

/* Ultra wide screen */
@media only screen and (min-width: 2100px) {

    #title pre {
        color: orange;
    }
    #nav a pre {
        font-size: 30px;
    }

    #nav {
        margin-top: 15px;
    }

    #nav-background {
        font-size: 18px;
    }

    #projects-container {
        height: 800px;
    }

    #projects-content {
        margin-top: 80px;
        position: absolute;
        width: 1050px;
        height: 100%;
    }

    #projects-info {
        height: 65%;
        margin-left: 60px;
    }

    #projects-image img {
        margin: 20px;
        width: 300px;
        height: 300px;
        border: 4px dashed white;
    }

    #projects-desc-title {
        font-size: 24px;
    }

    #projects-desc-desc {
        font-size: 20px;
    }

    #projects-control div {
        margin: 20px;
        font-size: 20px;
    }

    #projects-background {
        font-size: 30px;
    }

    #title pre {
        font-size: 35px;
        margin-bottom: 0;
    }

    #subheading p {
        font-size: 25px;
        color: white;
        margin-top: 0;
    }
}

/* Tablet or Smaller Screen */
@media only screen and (max-width: 1600px) {
    #title pre {
        color: blue;
    }

    #nav {
        margin-top: 10px;
    }

    #nav a pre {
        font-size: 24px;
    }

    #nav-container {
        position: sticky;
    }

    #nav-background {
        font-size: 14px;
    }

    #projects-container {
        display: none;
    }

    #projects-container {
        height: 420px;
    }

    #projects-content {
        margin-top: 50px;
        position: absolute;
        width: 640px;
        height: 100%;
    }

    #projects-info {
        height: 75%;
        margin-left: 20px;
    }

    #projects-image img {
        margin: 20px;
        width: 150px;
        height: 150px;
        border: 2px dashed white;
    }

    #projects-desc-title {
        font-size: 18px;
    }

    #projects-desc-desc {
        font-size: 16px;
    }

    #projects-control div {
        margin: 5px;
        font-size: 14px;
    }

    #projects-background {
        font-size: 18px;
    }
}

/* Mobile M / Tablet */
@media only screen and (max-width: 1300px) {
    #title pre {
        font-size: 18px;
        color:red;
    }

    #nav-container {
        margin-top: -20px;
    }

    #nav a pre {
        margin-top: 25px;
        font-size: 21px;
    }

    #nav-background pre {
        font-size: 13px;
    }

    /* Project list content */
    #projects-list-title {
        font-size: 15px;
        margin-top: 45px;
    }

    #projects-list-container {
        margin-top: -25px;
    }

    #projects-list-background pre {
        font-size: 20px;
    }

    #projects-list-content {
        margin-top: 240px;
    }

    .projects-list-content-projects {
        margin-left: 10px;
    }

    .projects-list-content-projects:hover {
        margin-left: 14px;
    }

    .projects-list-content-projects-content {
        margin: 20px;
        margin-top: 55px;
        margin-left: 30px;
    }

    .projects-list-content-projects-content-img {
        width: 100px;
        height: 100px;
    }

    .projects-list-content-projects-content-info {
        margin-left: 30px;
    }

    .projects-list-content-projects-content-info-title {
        font-size: 20px;
    }

    .projects-list-content-projects-content-info-desc {
        font-size: 14px;
    }

    .projects-list-content-projects-background {
        font-size: 19px;
    }

    /* Project list return button */
    #projects-list-btn-back {
        font-size: 14px;
        margin-right: 510px;
        margin-top: 60px;
    }

    /* Project list background */
    #projects-list-background {
        font-size: 15px;
    }

}

/* Mobile S */
@media only screen and (max-width: 1000px) {
    #title pre {
        font-size: 30px;
        color: green;
    }

    /* Nav */
    #nav {
        margin-top: 20px;
    }

    #nav a pre {
        font-size: 42px;
    }

    #nav-container {
        position: sticky;
    }

    #nav-background pre {
        font-size: 25px;
    }

    /* Project list content */

    #projects-list-container {
        margin-top: 50px;
    }

    #projects-list-background pre {
        font-size: 26px;
    }

    #projects-list-title {
        font-size: 25px;
        margin-top: 45px;
    }

    #projects-list-content {
        margin-top: 320px;
    }

    .projects-list-content-projects {
        margin-left: 10px;
    }

    .projects-list-content-projects:hover {
        margin-left: 10px;
    }

    .projects-list-content-projects-content {
        margin: 40px;
        margin-top: 70px;
    }
    
    .projects-list-content-projects-content-info {
        margin-left: 30px;
    }

    .projects-list-content-projects-content-info-title {
        font-size: 25px;
    }

    .projects-list-content-projects-content-info-desc {
        font-size: 20px;
    }

    .projects-list-content-projects-background {
        font-size: 25px;
    }

    /* Project list return button */
    #projects-list-btn-back {
        font-size: 18px;
        margin-right: 675px;
        margin-top: 60px;
    }

    /* Project list background */
    #projects-list-background {
        font-size: 26px;
    }

}