html>* {
    font-family: monospace;
    background-color: rgb(48, 48, 48);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5%;
}

#title img {
    object-fit: cover;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    margin-right: 2rem;
    border: 5px dashed white;
}


#title {
    display: flex;
    font-size: 5vw;
    text-align: left;
    margin: 5vw auto;
    user-select: none;
}

#textTitle {
    flex: 1;
    align-self: center;
}

#textTitle>* {
    margin: 0;
    padding: 0;
}

#textTitle h2 {
    font-size: 4.5vw;
}

#menu {
    display: flex;
    justify-content: center;
    user-select: none;
}

nav {
    margin-bottom: 5%;
    padding: 0;
}

nav>* {
    display: inline-block;
    font-size: 5vw;
    padding: 0.3em 0.6em;
    border: 2px solid darkgray;
    text-align: center;
}

nav>*:hover {
    background-color: rgb(64, 64, 64);
}

#projects {
    padding: 5px;
    border: 2px solid darkgray;
}

.project {
    border: 2px solid gray;
    margin: 2vw;
    padding: 3vw;
    margin-bottom: 3vw;
    display: flex;
}

.project>* {
    margin: 0;
    padding: 0;
}

.project-content h3 {
    margin: 0;
    padding: 0;
    font-size: 7vw;
    margin-bottom: 0.7vw;
}

.project-content p {
    margin: 0;
    padding: 0;
    font-size: 4vw;
}

.project-content {
    flex: 1;
}

.project img {
    width: 20vw;
    height: 20vw;
    padding: 1vw;
    align-self: center;
}

.project:hover {
    background-color: rgb(64, 64, 64);
    cursor: pointer;
}

#contacts {
    display: none;
    padding: 5px;
    border: 2px solid darkgray;
}

.contact {
    border: 2px solid gray;
    display: flex;
    margin: 2vw;
    padding: 5px;
    min-height: 15vw;
    margin-bottom: 3vw;
}

.contact>* {
    margin: 0;
    padding: 0;
}

.contact h3 {
    margin: 0;
    padding: 0;
    font-size: 6vw;
    margin-left: 6vw;
    align-self: center;
}

#about {
    display: none;
    padding: 5vw;
    border: 2px solid darkgray;
}

#about span {
    font-size: 4vw;
}

#btnSandbox {
    display: none;
}

@media only screen and (min-width: 900px) {
    #title {
        margin-bottom: 0;
        display: flex;
        font-size: 3rem;
        text-align: left;
        margin-left: 5rem;
    }

    #textTitle {
        flex: 1;
        align-self: center;
    }

    #textTitle>* {
        margin: 0;
        padding: 0;
    }

    #textTitle h2 {
        font-size: 1.5rem;
    }

    #title img {
        object-fit: cover;
        border-radius: 50%;
        height: 9rem;
        width: 9rem;
        margin-right: 2rem;
        border: 5px dashed white;
    }

    #menu {
        display: flex;
        justify-content: right;
    }

    nav {
        margin: 0;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    nav>* {
        display: inline-block;
        font-size: 1.3rem;
        padding: 0.3em 0.6em;
        border: 2px solid darkgray;
        text-align: center;
    }

    nav>*:hover {
        background-color: rgb(64, 64, 64);
    }

    #projects {
        max-width: 45%;
        padding: 5px;
        border: 2px solid darkgray;
        display: inline-block;
    }

    .project {
        border: 2px solid gray;
        margin: 0.32rem;
        padding: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .project>* {
        margin: 0;
        padding: 0;
    }

    .project-content h3 {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
    }

    .project-content p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .project img {
        width: 4.5rem;
        height: 4.5rem;
        padding: 0.1rem;
    }

    #btnAbout {
        display: none;
    }

    #about {
        display: inline-block;
        padding: 1rem;
        border: 2px solid darkgray;
        max-width: 35%;
    }

    #about span {
        font-size: 1.2rem;
    }

    #btnSandbox {
        display: inline-block;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #menu {
        order: 1;
        width: 100%;
    }

    #detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        order: 2;
        flex: 1;
        margin: 1rem;
    }

    #projects {
        order: 3;
        flex: 1;
        margin-left: 1rem;
    }

    #contacts {
        padding: 5px;
        border: 2px solid darkgray;
        order: 3;
        flex: 1;
        max-width: 45%;
        margin-left: 1rem;
    }

    .contact {
        border: 2px solid gray;
        display: flex;
        margin: 0.1rem;
        padding: 5px;
        min-height: 3rem;
        margin-bottom: 1rem;
    }

    .contact>* {
        margin: 0;
        padding: 0;
    }

    .contact h3 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        margin-left: 1rem;
        align-self: center;
    }
}

@media only screen and (min-width: 1440px) {

    #textTitle {
        font-size: 4rem;
    }

    #title img {
        height: 12rem;
        width: 12rem;
    }

    nav>* {
        font-size: 1.5rem;
        padding: 0.4em 0.7em;
    }

    .project img {
        width: 5rem;
        height: 5rem;
        padding: 0.1rem;
    }

    .project-content h3 {
        font-size: 2rem;
    }

    #projects {
        max-width: 45%;
    }

    #about {
        max-width: 45%;
    }

    #about span {
        font-size: 1.5rem;
    }

    body {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}