html {
    background-color: rgb(42, 42, 48);
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    user-select: none;
}

#app {  
    display: grid;
    grid-template-areas: 
        "canvas menu";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    height: 100px;
}

#container { grid-area: canvas; }
#menu { grid-area: menu; }

#app>* {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#canvas {
    width: 100%;
    border: 1px solid darkgray;
}

#menu {
    display: grid;
    grid-template-areas: 
        "btns editWindow"
        "info info"
        "titleCard titleCard";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#editWindow { grid-area: editWindow; }
#btns { grid-area: btns; }
#info { grid-area: info; }
#titleCard { grid-area: titleCard; }

#menu>* {
    width: 100%;
    height: 100%;
}

#btns {
    display: flex;
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
    flex-direction: column;
    
}

#btns>* {
    margin: 10px;
}

#info {
    border: 1px solid darkgray;
    background-color: rgb(50, 50, 56);
    color: white;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
}

#debugOptions {
    margin-top: 10px;
}

#titleCard {
    background-color: rgb(50, 50, 56);
    color: white;
    font-size: 2vh;
    border: 1px solid darkgray;
    box-shadow: 0 4px 10px 0px black;
}

#titleCard h1 {
    margin: 10px;
}

#btns button {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 2vh;
    box-shadow: 0 4px 10px 0px black;
}

.button-selected {
    outline: 2px solid darkgray;
}

#sand {
    background-color: rgb(187, 167, 77);
    border: 5px solid rgb(151, 131, 62);
}

#water {
    background-color: rgb(51, 100, 184);
    border: 5px solid rgb(39, 75, 138);
}

#wood {
    background-color: rgb(102, 66, 28);
    border: 5px solid rgb(66, 43, 18);

}

#stone {
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(70, 70, 70);

}

#smoke {
    background-color: rgb(50, 50, 56);
    border: 5px solid rgb(30, 30, 36);
}

#fire {
    background-color: rgb(190, 60, 20);
    border: 5px solid rgb(120, 20, 0);
}

#custom {
    background-color: rgb(180, 150, 255);
    border: 5px solid rgb(140, 110, 205);
}

#eraser {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(225, 225, 225);

}

#debugOptionsSelect {
    background-color: rgb(50, 50, 56);
    color: white;
    border: 1px solid darkgray;
    padding: 5px;
    font-family: monospace;
    cursor: pointer;
}

#resetAll,
#resetSettings,
#githubrepo,
#home {
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    color: white;
    width: 120px;
    padding: 5px;
    font-family: monospace;
    font-size: 1.8vh;
    box-shadow: 0 4px 10px 0px black;
    cursor: pointer;
}

#resetAll:hover,
#resetSettings:hover,
#githubrepo:hover,
#home:hover {
    background-color: rgb(40, 40, 46);
}


#editWindow {
    background-color: rgb(50, 50, 56);
    border: 1px solid darkgray;
    color: white;
}

#editWindowContent {
    display: flex;
    flex-direction: column;
}

#editTitleWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#editTitleWindow h2 {
    margin: 0px 10px;
    color: white;
}

#editTitleWindow button {
    font-size: 2vh;
    color: white;
    background-color: rgb(50, 50, 56);
    font-weight: bold;
    box-shadow: 0 4px 10px 0px black;
}

#editValueWindow {
    display: flex;
    margin-top: 10px;
}

#editValueWindow>* {
    margin-right: 20px;
}

#editValueWindow label {
    color: white;
}

#editValueWindow input {
    color: white;
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    font-family: monospace;
    font-size: 1.5vh;
    box-shadow: 0 4px 10px 0px black;
    margin-bottom: 10px;
    width: 100px;
}

#editValueWindow input:hover {
    background-color: rgb(40, 40, 46);
}

#resetSettings {
    width: 100px;
    margin-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#backgroundcolor {
    color: white;
    background-color: rgb(50, 50, 56);
    border: 1px solid white;
    font-family: monospace;
    font-size: 1.5vh;
    box-shadow: 0 4px 10px 0px black;
    margin-bottom: 10px;
    width: 100px;

}

#home {
    width: 200px;
}

#mobileNotice {
    display: none;

}

@media only screen and (max-width: 960px) {
    #app {
        display: none;
    }

    #mobileNotice {
        display: block;
        background-color: rgb(50, 50, 56);
        color: white;
        padding: 10px;
        border: 1px solid darkgray;
        box-shadow: 0 4px 10px 0px black;
        margin-top: 10px;
    }
}