html>* {
    font-family: monospace;
    background-color: rgb(48, 48, 48);
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    color: white;
}

.pan-start {
    transform: translateX(200%);
    opacity: 0;
}

.pan-in {
    transform: translateX(0%);
    opacity: 1;
}

.pan-right {
    transform: translateX(-200%);
    opacity: 0;
}

#projects-container {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    width: 80%;
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.project-card {
    user-select: none;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 250px;
    flex-grow: 1;
    flex-basis: 250px;
    max-width: 280px;
}

.project-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.project-card h3 {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.project-card p {
    font-size: 1em;
    color: #aaa;
}

.code-text {
    color: #8f8f5f !important;
}

#back-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    user-select: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal-content {
    background-color: #2d2d2d;
    margin: 5% auto;
    padding: 30px;
    border: 1px dashed #dfdfdf;
    width: 80%;
    max-width: 900px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-50px);
    opacity: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.model-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.model-text-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: color 0.3s ease;
}

.close-btn:hover,
.close-btn:focus {
    user-select: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    margin-top: 20px;
    user-select: none;
    display: flex;
    justify-content: space-evenly;
}

.modal-button {
    margin: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

.modal-content img {
    user-select: none;
    width: 35%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
}

#modal-title {
    font-size: 3em;
    margin: 0;
}


@media (max-width: 768px) {
    body {
        display: block;
        overflow: auto;
    }

    #projects-container {
        margin: 0 auto;
        width: 90%;
    }

    #projects-grid {
        gap: 10px;
    }

    .project-card {
        max-width: 35%;
    }

    #project-modal {
        padding: 0;
    }

    #modal-title {
        font-size: 2em;
    }

    .modal-content {
        width: 80%;
        margin: 5rem auto;
        padding: 20px;
    }

    .model-text-content {
        width: 60%;
    }

    .modal-button {
        font-size: 0.9em;
    }
}
